.gitignore
/ex-basics
/PyTorch/Skin cancer/data
/PyTorch/Audio classification/data
/Models de llenguatge/BERT model/bert-sentiment-model
/Models de llenguatge/BERT model/bert-sentiment-tokenizer
/Models de llenguatge/Custom GPT/model.pth
/Models de llenguatge/LSTM/model.pth
/Agents/token.txt
Projecte/Midi Dataset Clean
Projecte/lmd_matched
Projecte/lastfm_train
Projecte/data/processed_training_data.json
Projecte/data/raw_chords_dataset.json